<div class="wrapper-xs" ng-controller="wxDefaultController">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">菜单链接</div>
    <div class="panel-body">
      <button class="btn btn-default" ng-click="gotoPage('wx.binding')">用户绑定</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.personalCredit')">个人申请</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.companyCredit')">企业申请</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.applyScheduleQuery')">申请进度查询列表</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.repaymentPlanQuery')">还款计划查询列表</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.applyRepaymentQuery')">申请提前还款列表</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.applyRepaymentDetails')">申请提前还款详情</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.repaymentCardModify')">还款卡变更列表</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.repaymentCardModifyDetails')">还款卡变更详情</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.productList')">产品列表</button>
      <button class="btn btn-default" ng-click="gotoPage('wx.productDetails')">产品详情</button>
    </div>
  </div>
</div>