
<style type="text/css" rel="stylesheet">body {
        -webkit-overflow-scrolling: touch
    }

    .newsWrapper {
        padding: 10px;
        line-height: 28px;
        background: #fff;
    }

    .newsWrapper p {
        font-size: 16px;
    }

    .newsWrapper img {
        text-align: center
    }

    .newsWrapper h1, .newsWrapper h2, .newsWrapper h3, .newsWrapper h4, .newsWrapper h5, .newsWrapper h6 {
        line-height: 24px;
    }

    .newsWrapper hr {
        border: 1px dashed #ccc;
    }</style>
<div class="modal-footer" style="z-index: 9999; position: fixed ! important; right: 10px; top: 10px;">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>
<div class="newsWrapper"><p><b><span><br/></span></b></p>

    <h2 style="text-align: center;"><b><span>免责声明</span></b><b><span></span></b></h2>

    <p><span> </span></p>

    <p><span>    </span><span>您在接受本微信公众号服务之前</span>,<span>请务必仔细阅读本声明，您使用我司微信公众号的服务即视为您已阅读并接受本声明。</span><br/>
        <span>    </span><span>您作为我司（先锋太盟融资租赁有限公司）客户，为了便于您及时了解融资租赁车辆申请进度、租金支付金额、及时变更相关信息等，须验证您的个人身份信息，请保证您所验证的信息均为您本人真实信息。</span><span
                >我司将尽可能保护您的个人身份信息，但是由于技术的限制以及可能存在的各种恶意手段，即便竭尽所能加强安全措施，也不可能始终保证绝对安全。您需要了解，您接入我司微信公众号，有可能因我司可控范围外的因素而出现问题。</span>
    </p>

    <p><span>    </span><span>同时，他人如盗用、窃取您的个人身份信息使用本微信公证号服务，了解融资租赁车辆申请进度、变更相关信息，包括但不限于变更身份信息、车辆信息、租金支付信息等给您造成损失，我司不负任何责任。</span></p>

    <p><span>    </span><span>您理解并同意，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。出现上述情况时，我司将在第一时间及时修复，但由此给您造成的损失我司在法律允许的范围内免责。</span></p>

    <p><span>    </span><span>我司有权在必要时修改本声明。我司会及时向您推送变更后的免责声明。本声明变更后，如果您继续使用我司微信公众号服务，即视为您已接受修改后的声明。如果您不接受修改后的申明，应当停止使用我司微信公众号服务。</span>
    </p>

    <p></p>

    <p><br/></p>

    <p></p>
</div>
<div class="modal-footer" >
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>